// Footer
footer.footer
  .section__container
    
    .footer__share
      div
        a(href="#!")
          img(src="./img/footer-share.png", alt="").img-responsive
    .footer__copyright © 2013-2018 APM Store. All rights reserved.
  
