doctype html
html(lang="ru")
  
  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - Биржа Автозапчастей' //title страницы для генерации верстки  

  include ./_include/_head
      
  body
    #perspective.perspective.effect-rotateright
      .container
        .container-viewport
          .container-wrapper
            
            button#showMenu.hidden Show Menu
            
            include ./_include/_header
            
            .content__container
            
              section.section.welcome
                .section__container
                  h1 Зарегистрироваться на сайте
                  
                  .row
                    .col-md-4 1
                    .col-md-3 2
                    .col-md-5 3
                  
              section.section.welcome
                .section__container
                  h1 Уважаемые Коллеги по автобизнесу !
                  
              section.section.about
                .section__container
                  h1 О компании в цифрах
                  
              section.section.availability
                .section__container
                  h1 На складе в Киеве
                  
              section.section.steps
                .section__container
                  
                  .steps__wrapper
                    .steps__head
                      span 4 шага к сотрудничеству
                    .steps__content
                      .steps__content-img
                        img(src="./img/step-img-2.png", alt="")
                      
                      .steps__content-step.steps__content-step--active2
                        .steps__content-line
                        .steps__content-number.steps__content-number--1 01
                        .steps__content-number.steps__content-number--2 02
                        .steps__content-number.steps__content-number--3 03
                        .steps__content-number.steps__content-number--4 04
                      .steps__content-info Заполняем анкету онлайн
                      
                      a(href="#!").btn Заполнить
                  
              section.section.what-say
                .section__container
                  h1 что о нас говорят
                  
              section.section.contacts.no--p
                .section__container
                  
                  .section__head
                    .h1 наши КОнтакты
                  
                  .row
                    .col-lg-8.col-lg-push-2.col-sm-10.col-sm-push-1
                      .contacts__info
                        div
                          .contacts__info-block
                            a(href="#!").contacts__info-link
                              i.ion-android-pin
                              span центральный офис
                            p 123456, г. Москва, ул. Первая деловая, 1
                              br
                              a(href="#!") 8 (495) 637-12-34
                              br
                              a(href="#!") 8 (495) 637-12-35
                              br
                              a(href="#!") email: info@apm.store
                        div
                          .contacts__info-block
                            a(href="#!").contacts__info-link
                              i.ion-android-pin
                              span Основной склад в ОАЕ
                            p Аль Квос Индастриал Арея 4
                              br
                              | منطقة القوز الصناعية
                              br
                              a(href="#!") +971 4 408 9999
                              br
                              a(href="#!") email: sklad@apm.store
                          
                .section__container.section__container--fullwidth
                  .contacts__map
                    .contacts__map-marker
                      img(src="./img/contacts-marker.png", alt="")
                      a(href="#!").btn Хочу купить
        
            include ./_include/_footer
            div(style="background: #000; height: 1000px")
                  
      nav.outer-nav.left.hidden
        .outer-nav__phones 0 800 987 65 43
        .outer-nav__links
          a(href="#!") главная
          a(href="#!") о компании
          a(href="#!") цифры
          a(href="#!") ассортимент
          a(href="#!") сотрудничество
          a(href="#!") отзывы
          a(href="#!") контакты
        .outer-nav__share share
    
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]
        
    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
