doctype html
html(lang="ru")
  
  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - Биржа Автозапчастей' //title страницы для генерации верстки  

  include ./_include/_head
      
  body
    #perspective.perspective.effect-rotateright
      .container
        .container-viewport
          .container-wrapper
            
            button#showMenu.hidden Show Menu
            
            include ./_include/_header
            
            .content__container
            
              section.section.register
                .section__container.hidden-xs
                  h2 Зарегистрироваться на сайте
                  
                  .row
                    .col-md-4 1
                    .col-md-3 2
                    .col-md-5 3
                  
              section.section.welcome
                .section__container
                  h2 Уважаемые Коллеги по автобизнесу !
                  
              section.section.about
                .section__container
                  h2 О компании в цифрах
                  
              section.section.availability
                .section__container
                  
                  .row
                    .col-lg-5.col-md-6
                      .availability__content
                        p.p__introtext На складе в Киеве поддерживаем наличие автозапчастей наиболее часто продаваемых на рынке Украины По самым низким ценам.
                        ul
                          li Большой ассортимент оригинальных и неоригинальных запчастей
                          li Возможность возврата товара
                          li Конкурентная цена и гибкая ценовая политика
                          li Минимальные сроки поставки
                          li Регулярное обновление ассортимента
                          li Доставка товара на ваш склад
                          li Поставки со складов по всему миру
                          li Производство автозапчастей под заказ на фабриках Южной Кореи, Тайвани, Малайзии, Индии
                          li Транспортная логистика
                    .col-lg-7.col-md-6
                      .availability__img
                        .availability__img-big
                          div
                          div
                          div
                          img(src="./img/img-motor.png", alt="")
                        .availability__img-number
                          .availability__img-block
                            div
                              .strong 85
                              .b %
                              .span Японские автомобили - 
                                strong 85
                                | %
                          .availability__img-block.availability__img-block--two
                            div
                              .strong 14
                              .b %
                              .span Корейские автомобили - 
                                strong 14
                                | %
                          .availability__img-block.availability__img-block--three
                            div
                              .strong 1
                              .b %
                              .span Немецкие автомобили - 
                                strong 1
                                | %
                  
              section.section.steps
                .section__container
                  
                  .steps__wrapper
                    .steps__head
                      span 4 шага к сотрудничеству
                    .steps__content
                      .steps__content-img
                        img(src="./img/step-img-1.png", alt="")
                      
                      .steps__content-step.steps__content-step--active1
                        .steps__content-line
                        .steps__content-number.steps__content-number--1(data-text='Открываем сайт') 01
                        .steps__content-number.steps__content-number--2(data-text='Заполняем анкету онлайн') 02
                        .steps__content-number.steps__content-number--3(data-text='Выбираем товар') 03
                        .steps__content-number.steps__content-number--4(data-text='Получаем посылку') 04
                      .steps__content-info Открываем сайт
                      
                      a(href="#!" data-step='1').btn#stepsBtn Заполнить
                  
              section.section.what-say
                .section__container
                  h2 что о нас говорят
                  
              section.section.contacts.no--p
                .section__container
                  
                  .section__head
                    .h1 наши КОнтакты
                  
                  .row
                    .col-lg-8.col-lg-push-2.col-sm-10.col-sm-push-1
                      .contacts__info
                        div
                          .contacts__info-block
                            a(href="#!").contacts__info-link
                              i.ion-android-pin
                              span центральный офис
                            p 123456, г. Москва, ул. Первая деловая, 1
                              br
                              a(href="#!") 8 (495) 637-12-34
                              br
                              a(href="#!") 8 (495) 637-12-35
                              br
                              a(href="#!") email: info@apm.store
                        div
                          .contacts__info-block
                            a(href="#!").contacts__info-link
                              i.ion-android-pin
                              span Основной склад в ОАЕ
                            p Аль Квос Индастриал Арея 4
                              br
                              | منطقة القوز الصناعية
                              br
                              a(href="#!") +971 4 408 9999
                              br
                              a(href="#!") email: sklad@apm.store
                          
                .section__container.section__container--fullwidth
                  .contacts__map
                    .contacts__map-marker
                      img(src="./img/contacts-marker.png", alt="")
                      a(href="#!").btn Хочу купить
        
            include ./_include/_footer
            div(style="background: #000; height: 1000px")
                  
      nav.outer-nav.left.hidden
        .outer-nav__phones 0 800 987 65 43
        .outer-nav__links
          a(href="#!") главная
          a(href="#!") о компании
          a(href="#!") цифры
          a(href="#!") ассортимент
          a(href="#!") сотрудничество
          a(href="#!") отзывы
          a(href="#!") контакты
        .outer-nav__share share
    
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]
        
    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
