$primary-color: #444444;

$link-color: #00c7f0;

$color-white: white;
$color-gray: #dddddd;
$color-lightgray: #f8fafb;
$color-black: black;
$color-blue: #00c7f0;
$color-lightblue: #24d4f8;

$primary-font: Arial, "Helvetica Neue", Helvetica, sans-serif;

$font-ionicons: "Ionicons";
$font-intro: "Intro";

$font-roboto: "RobotoRegular";
$font-roboto-light: "RobotoLight";
$font-roboto-medium: "RobotoMedium";
$font-roboto-bold: "RobotoBold";
$font-roboto-thin: "RobotoThin";