/*==========  Desktop First Method  ==========*/

/* 1920 */
@media only screen and (min-width : 1999px)
  /**/

@media only screen and (max-width : 1599px)
  /**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1439px)
  /**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
  /**/

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
  /**/

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)

  .animated
    transition-property: none !important
    transform: none !important
    animation: none !important

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
  /**/

/* Custom, iPhone Retina */
@media only screen and (max-width : 319px)
  /**/
