/*==========  Desktop First Method  ========== */

/* 1920 */
@media only screen and (min-width: 1999px) {
  /* */
}

@media only screen and (max-width: 1599px) {
  /* */
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1439px) {
  /* */
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
  .section {
    &__container {
      width: 970px;
    }
  }
  .steps {
    &__wrapper {
      width: 940px;
    }
    &__content {
      &-step {
        margin-left: 60px;
        margin-right: 60px;
      }
    }
  }
  .availability {
    padding-bottom: 80px;
    &__img {
      margin-top: 80px;
      margin-left: -85px;
      &-big {
        width: 183px;
        height: 183px;
        img {
          max-width: 210px;
        }
        & > div {
          &:first-child {
            & + div {
              width: 240px;
              height: 240px;
              & + div {
                width: 294px;
                height: 294px;
              }
            }
          }
        }
      }
      &-block {
        margin-top: -95px;
        background-position: calc(100% - 25px) 50px;
        &--two {
          margin-top: 50px;
          max-width: 304px;
          background-position: calc(100% - -55px) 35px;
        }
        &--three {
          margin-top: 150px;
          background-position: calc(100% - 40px) -4px;
        }
      }
      &-number {
        left: 152px;
      }
    }
  }
  .welcome {
    &__faq {
      width: 436px;
      margin-left: -15px;
      &-wrapper {
        padding-left: 30px;
        padding-bottom: 35px;
        padding-right: 20px;
      }
      &-row {
        font-size: 14px;
        strong {
          margin-bottom: 5px;
        }
        span {
          font-size: 26px;
          line-height: 1.2;
        }
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  .section {
    &__container {
      width: 750px;
    }
  }
  .steps {
    &__head {
      font-size: 41px;
    }
    &__wrapper {
      width: 720px;
    }
    &__content {
      &-number {
        left: 74px;
        &--2 {
          left: 207px;
        }
        &--3 {
          left: 354px;
        }
        &--4 {
          left: 491px;
        }
      }
      &-step {
        &--active1 {
          .steps__content {
            &-line {
              &::before {
                width: 74px;
              }
            }
          }
        }
        &--active2 {
          .steps__content {
            &-line {
              &::before {
                width: 207px;
              }
            }
          }
        }
        &--active3 {
          .steps__content {
            &-line {
              &::before {
                width: 354px;
              }
            }
          }
        }
      }
    }
  }
  .availability {
    padding-top: 85px;
    padding-bottom: 175px;
    &__content {
      max-width: none;
      padding-left: 25px;
    }
    &__img {
      margin-left: 135px;
      margin-top: 115px;
    }
  }
  .welcome {
    padding-bottom: 65px;
    &__faq {
      padding-left: 63px;
      padding-right: 0;
      width: auto;
      margin: 0;
    }
    &__info {
      max-width: none;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .animated {
    transition-property: none !important;
    transform: none !important;
    animation: none !important;
  }
  .section {
    &__container {
      width: 100%;
    }
  }
  h1, .h1 {
    font-size: rem(40px);
  }
  .steps {
    &__head {
      font-size: rem(30px);
      left: 34px;
      right: 34px;
    }
    &__wrapper {
      width: 450px;
    }
    &__content {
      &-number {
        left: 42px;
        &--2 {
          left: 132px;
        }
        &--3 {
          left: 229px;
        }
        &--4 {
          left: 330px;
        }
      }
      &-step {
        margin-left: 20px;
        margin-right: 20px;
        &--active1 {
          .steps__content {
            &-line {
              &::before {
                width: 42px;
              }
            }
          }
        }
        &--active2 {
          .steps__content {
            &-line {
              &::before {
                width: 132px;
              }
            }
          }
        }
        &--active3 {
          .steps__content {
            &-line {
              &::before {
                width: 229px;
              }
            }
          }
        }
      }
    }
  }
  .contacts {
    &__info {
      display: block;
      max-width: 290px;
      margin: 0 auto;
      & > div {
        & + div {
          padding-top: 25px;
        }
      }
    }
  }
  .availability {
    padding-bottom: 50px;
    &__img {
      margin: 80px auto 0;
      &-big {
        margin: 0 auto;
      }
      &-number {
        position: inherit;
        left: inherit;
        margin: 70px auto 0;
        max-width: 340px;
      }
      &-block {
        position: inherit;
        background: none;
        margin-top: 0;
        max-width: inherit;
        height: 80px;
        & > div {
          width: 62px;
          height: 62px;
          right: inherit;
          left: 0;
          .strong {
            font-size: rem(55px);
          }
          .b {
            font-size: rem(24px);
            right: -15px;
            bottom: 3px;
          }
          .span {
            left: 100px;
            top: 19px;
            font-size: rem(16px);
          }
        }
        &--one {
          margin-left: auto;
        }
      }
    }
  }
  .welcome {
    &__faq {
      padding-left: 0;
      margin-right: -15px;
      &-wrapper {
        border-bottom: 0;
      }
    }
    &__title {
      width: auto;
      margin: 0 -15px 30px -15px;
    }
    &__content {
      padding: 0;
      strong {
        white-space: normal;
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  h1, .h1 {
    font-size: rem(28px);
  }
  .steps {
    .section__container {
      padding: 0;
    }
    &__head {
      font-size: rem(28px);
      left: 15px;
      right: 15px;
      & > span {
        padding: 0;
      }
    }
    &__wrapper {
      width: 320px;
    }
    &__content {
      &-number {
        left: 19px;
        &--2 {
          left: 91px;
        }
        &--3 {
          left: 166px;
        }
        &--4 {
          left: 237px;
        }
      }
      &-step {
        margin-left: 10px;
        margin-right: 10px;
        &--active1 {
          .steps__content {
            &-line {
              &::before {
                width: 19px;
              }
            }
          }
        }
        &--active2 {
          .steps__content {
            &-line {
              &::before {
                width: 91px;
              }
            }
          }
        }
        &--active3 {
          .steps__content {
            &-line {
              &::before {
                width: 166px;
              }
            }
          }
        }
      }
    }
  }
  .availability {
    &__content {
      padding-left: 0;
    }
    &__img {
      &-number {
        max-width: 245px;
      }
      &-block {
        & > div {
          .span {
            max-width: 250px;
            width: 150px;
            white-space: normal;
            line-height: 1.2;
            top: 12px;
          }
        }
      }
    }
  }
  .welcome {
    &__faq {
      &-wrapper {
        padding-left: 25px;
      }
      &-row {
        strong {
          margin-left: 20px;
        }
        span {
          font-size: rem(20px);
        }
      }
    }
    &__title {
      text-align: left;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 319px) {
  /* */
}